@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme{
    --font-Rale: "Raleway", serif;

    --color-dawn:#090E16;
    --color-lightdawn:#7B4AE2;
    --color-title:#FFFFFF;
    --breakpoint-tablet:55rem;
}
body{
    background-color: #090E16;
    @apply font-Rale;
}

@layer components{
    .contain{
        @apply mx-4 md:mx-10 xl:mx-16;
    }
}

